{namespace JIRA.Templates.Common}

/**
 * @param message
 */
{template .serverErrorDialog autoescape="false"}
<h2 class="dialog-title">{getText('admin.common.words.error')}</h2>
<div class="form-body">
    <div class="aui-message error">
        <span class="aui-icon icon-error"></span> {$message}
    </div>
</div>
<div class="buttons-container form-footer">
    <div class="buttons">
        <a href="#" class="cancel">{getText('common.forms.cancel')}</a>
    </div>
</div>
{/template}
