<div class="mod-content intform">
	<div id="quicktasks-panel" class="quicktasks-panel">
	    <form id="quicktasks-add" class="aui" action="#">
	    	<div class="hidden">
				<input name="atl_token" type="hidden" value="$atl_token">
				<input name="issueKey" id="issueKey" type="hidden" value="$issueKey">
				<input name="issueId" id="issueId" type="hidden" value="$issueId">
		  	</div>
	        <table id="quicktasks-table" class="aui">
	            <thead>
	                <tr>
	                    <th class="jira-restfultable-order"><!-- order --></th>
	                    <th><!-- quick-task icon --></th>
	                    <th>$i18n.getText('quicktasks.completed')</th>
	                    <th>$i18n.getText('quicktasks.description')</th>
	                    <th><!-- Operations --></th>
	                    <th><!-- throbber --></th>
	                </tr>
	            </thead>
	            <tbody></tbody>
	        </table>
	        <div class="jira-restfultable-init">
	            <span class="jira-restfultable-throbber"></span>
	            <span class="jira-restfultable-loading">$i18n.getText('quicktasks.loading')</span>
	        </div>
	    </form>
	    <div id="project-config-error-console"></div>
	</div>
</div>